.strip {
    position: absolute;
    color: white;
    font-family: var(--font-handwritten);
    padding: 1%;
    width: fit-content;
}

#namestrip {
    background-color: var(--color-text);
    transform: rotate(1deg);
    font-size: 1.6vw;
    bottom: 32%;
    left: 19%
}

#degreestrip {
    background-color: var(--color-sage);
    transform: rotate(-2deg);
    font-size: 1.1vw;
    bottom: 23%;
    left: 10%;
}

#portfoliostrip {
    background-color: var(--color-page);
    font-family: var(--font-heading);
    color: var(--color-text);
    transform: rotate(-15deg);
    font-size: 1.1vw;
    bottom: 10%;
    left: 7%;
}

#coverphoto {
    width: 25%;
    padding: 1%;
    padding-bottom: 5%;
    background-color: white;
    position: absolute;
    left: 22%;
    top: 9%;
    transform: rotate(-3deg);
}
