#namestrip {
    position: absolute;
    color: white;
    background-color: rgb(101, 37, 5);
    font-family: var(--font-handwritten);
    transform: rotate(3deg);
    padding: 1%;
    width: max-content;
    font-size: 180%;
    bottom: 32%;
    left: 25%
}

#coverphoto {
    width: 20%;
    padding: 1%;
    padding-bottom: 5%;
    background-color: white;
    position: absolute;
    left: 27%;
    top: 15%;
    transform: rotate(-3deg);
}
