.strip {
    position: absolute;
    color: white;
    font-family: var(--font-handwritten);
    padding: 1%;
    width: fit-content;
}

#namestrip {
    background-color: var(--color-text);
    transform: rotate(1deg);
    font-size: 180%;
    bottom: 32%;
    left: 21%
}

#degreestrip {
    background-color: var(--color-sage);
    transform: rotate(-1.5deg);
    font-size: 130%;
    bottom: 23%;
    left: 12%;
}

#portfoliostrip {
    background-color: var(--color-page);
    font-family: var(--font-heading);
    color: var(--color-text);
    transform: rotate(-15deg);
    font-size: 130%;
    bottom: 10%;
    left: 7%;
}

#coverphoto {
    width: 25%;
    padding: 1%;
    padding-bottom: 5%;
    background-color: white;
    position: absolute;
    left: 21%;
    top: 9%;
    transform: rotate(-3deg);
}
