#scrapbook {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.closed {
    transform: rotate(1deg)
}

.open {
    transform: rotate(0deg)
}

.page {

}

.cover {
    background-color: var(--color-kraft);
}