#scrapbook {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: transform 1.5s ease;
}

.closed {
    transform: translateX(-250px) rotate(1deg)
}

.open {
    transform: rotate(0deg)
}

.page {
    background-color: var(--color-sage)
}

.cover {
    background-color: var(--color-kraft);
}