@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playpen Sans:wght@100..800&display=swap');

:root {
  --color-background: #eddec4;
  --color-page: #f7f3ef;
  --color-kraft: #c4a882;
  --color-sage: #8a9e85;
  --color-text: #3d2b1f;
  --font-heading: "Playfair Display", serif;
  --font-handwritten: "Playpen Sans", cursive;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-handwritten);
}